.main-div-div{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 4px solid red; */
    margin-right: 10px;

}

.main-div{
    text-align: center;
    

}
